html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-size:16px;
    background-color: #333333;
}

body * {
    box-sizing: border-box;
}
.page {
    width:100%;
    max-width:1280px;
    margin:0 auto;
    background-color: #aaaaaa;
}
header, footer {
    padding:1rem;
}
h1, h2, h3 {
    padding-top:1rem;
    padding-bottom:1rem;
}

h2, h3, form {
    padding-left:1rem;
}

p, form {
    max-width:640px;
    padding:1rem;
    display:block;
    margin:0 auto;
}

pre {
    padding:1rem;
    max-width:100%;
}

form {
    display:flex;
    flex-direction:column;
    max-width:100%;
    min-width:360px;
}
form > * {
    padding:0.5rem;
    margin:0.5rem;
    font-family:'Courier New', Courier, monospace;
    width:100%;
}
form textarea {
    width:100%;
    max-width:100%;
}
input, textarea, button {
    max-width:800px;
}
img {
    width:100%;
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}
main > section {
    width:100%;
    max-width:1280px;
    margin: 0 auto;
}

/* FLEX */
.ligne {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
}

.ligne > * {
    padding:1rem;
    text-align:justify;
    min-width:240px;
    max-width:100%;
}
.ligne.x2col > * {
    width:calc(100% / 2);
}
.ligne.x3col > * {
    width:calc(100% / 3);
}
.ligne.x4col > * {
    width:calc(100% / 4);
}
.ligne.x5col > * {
    width:calc(100% / 5);
}
.ligne.x6col > * {
    width:calc(100% / 6);
}


/* template */
header, footer {
    text-align:center;
}

/* COLORS */
h1 {
    color:orange;
}
